.here-for-you-background {
  background-color: aliceblue;
  min-width: 1000px;
  width: 100%;
  margin: 160px 0;
  padding: 20px 0;
}

.here-for-you-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #333;
  min-width: 800px;
  width: 50vw;
  background-color: white;
  border-radius: 40px;
  margin: 0 auto;
  padding: 40px;
}

.here-for-you-block img {
  width: 400px;
  height: auto;
}

.here-for-you-block h1 {
  font-weight: bold;
}

.here-for-you-block p {
  width: 800px;
  color: #666;
  margin: 0;
}