.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 800px;
  margin: 0px auto;
}

.you-can-img {
  width: 400px;
  height: auto;
  margin: 40px;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #eee;
  box-shadow: 10px 10px 10px #ddd;
  border-radius: 40px 40px 0 0;
  height: 800px;
  width: 600px;
  padding: 20px;
}

.footer-block-message {
  text-align: center;
  background-color: white;
  border-radius: 40px;
  margin: 10px 40px;
  padding: 20px;
}



.footer-block-message h2 {
  font-weight: bold;
}

.footer-block-info {
  background-color: white;
  border-radius: 40px;
  margin: 10px 40px;
  padding: 40px;
}

.footer-block-info p {
  margin: 10px 0 0 0;
}

.successful-people-img {
  width: 300px;
  height: auto;
}

.contact-link {
  color: #64B7FF;
}